.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  width: 90vw;
  max-width: 800px; // para limitarlo en pantallas grandes
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map_part {
  border: 0;
  width: 100%;
  height: 60vh; // ya es relativo al viewport
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}